
*{
    box-sizing: border-box;
}

html {
    --user-photo-width: 150px
}

body {
    font-family: sans-serif;
    line-height: 1.2;
}

a   {
    text-decoration: none;
    color: inherit;
}

.userCard {
    max-width: 300px;
    width: 100%;
    min-height: 250px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    overflow: hidden;
    text-align: center;
}

.bg {
    background-image:url(/CSS-intro/exmple-user-card/img/bg.jpg);
    height:  150px;
    color: white;
    padding: 25px;
    text-align: right;
}

.userImg {
    width: var(--user-photo-width);
    height: var(--user-photo-width);
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-top: calc((-1) * var(--user-photo-width) / 2);
    border: 3px solid white;
}

.content-wrapper {
    padding: 0 1em 1em;
}

.userName {
    font-size: 1.5rem;
    margin: 0,4em;
}

.userGeoposition, {
    font-size: 1rem;
    margin: 0,5em 0;
}

.job {
    font-size: 1,2rem;
    margin: 0.4em 0;
}

.experience {
font-size: 1rem;
margin: 1.2em 0;
}

.userSocialLink {
    background-color: gray;
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    padding-top: 10px;
    width: 45px;
    height: 45px;
}

.userSocialLink + .userSocialLink {
    margin-left: 35px;
}
