/* Блокова модель box-model (без background-color); */

body{
    /* text-align: right; */
    color: #000;
}

p {
    /* width: 200px;
    height: 300px; */
    /* background-color:bisque ; */
    /* border: 1px solid red;
    padding: 20px;
    margin: 20px; */
    /* display: inline; */

    /* display: inline-block; */
    /* text-align: initial; */
    /* vertical-align: top; */
    
}

a{
    /* width: 100px;
    height: 50;
    border: 1px solid green;
    padding: 20px;
    margin: 20px;

    display: inline-block; */
}























/* Приклад */

ul  {
    text-align: center;


}
a   {
    color: inherit;
    text-decoration: none;
    border: 1px solid grey;
    padding: 15px 25px;
    width: 100px;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}
.nan-link-item  {
display: inline;
}

