/* Селектор тегу (типу) Є пріоритетість селекторів (властифість "специфічність) вони мають значення "Селектор id специфічність від 0.0.1. до 1.0.0*/
h1 {
    color: blue;
}
p  {
    font-size: 10px;
}
/* Селектор класу */
.annotation{
    font-size: 20px;

}

/* Селектор ідентифікатора */
#Subscribe-btn {
    color: red;
}




/* Каскадність  якщо одна і та сама властивість визначена для одного і того самого селектора, то приорітетна та, що оголошена останньою */



/* subscribe-btn:      kebeb-case
subscribeBtn :      camelCase (
                    lowerCamelCase
                    UpperCamelCase (PascalCase)
                    )
subscribe_btn:      snake_case 
Це способи написання селекторів
*/

/* Специфічність - якщо специфічність одна і та сама, властивість записана в різних по спецтфічності селекторі то пріоритетна та, що оголошена останньою  */