* {
    box-sizing: border-box;
}

/* header {
    background-color: #11a397;
    min-height: 100vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* a {
    text-decoration: none;
    color: inherit;
    border: 5px solid #010808;
    padding: 30px 20px;
} */

/* h1 {
    font-size: 2em;
    margin-bottom: 1em;
} */

/* p {
    font-size: 2em;
    margin-bottom: 1em;
} */

header, 
div,
footer {
    border: 2px solid red;
}

nav, main {
    border: 2px solid green;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

header, footer {
    width: 100%;
}

div{
    max-width: 1000px;
    width: 100%;
    min-width: 320px;

    display: flex;
}

nav {
    width: 25%;
}

main {
    width: 75%;
}

footer {
    margin-top: auto;
}


